<h1>Edit Section</h1>

<% if @section.errors.any? %>
  <h3>Please fix these errors fool</h3>
  <ul>
    <% @section.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
      <% end %>
  </ul>
<% end %>

<%= render "form" %>
