<h1>Sections to learn</h1>

<ul>
  <% @sections.each do |section| %>
  <li> <%= link_to section.name, section_path(section) %></li>
  <ul>
  <% section.topics.each do |topic| %>
  <li>
    <%= link_to topic.description, section_topic_path(section, topic) %> 
  </li>
    <% end %>
  </ul>
  <% end %>
</ul>

<hr>

<%= link_to "New Section", new_section_path %>
